<html>
<head>
  <title>Sortable</title>
  <link href="http://fonts.googleapis.com/css?family=Gudea:400, 700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<header> 
  <div class="header-content"> 
    <a class="shade">&nbsp;</a>
     <div class="butn_wrapper">
       <a href="#mouseAdd" id="addMouseBtn" class="button">Add Mouse</a>
       <a href="#cageAdd" id="addCageBtn" class="button-two">Add Cage</a>
     </div><!-- /butn_wrapper -->
     <h1>Curent Cages</h1>
  </div><!-- /header-content -->
</header>
<div class="wrapper main">
  {% if cages %}
    {% for cage in cages %}
      <div class="cage {% if cage.isBreeding %}is-breeding{% endif %}" id="cage-{{cage.id}}">
	<a class="close ir" href="#">Delete</a>
	<h3>{{ cage.cageName }}</h3>
	<ul class="droptrue ui-sortable">
	  {% if mice %}
	    {% for mouse in mice %}
	      {% if mouse.cage.id == cage.id %}
		<li id="{{mouse.id}}" class="mouse-{{mouse.id}}">{{ mouse.name }}</li>
	      {% endif %}
	    {% endfor %}
	  {% endif %}
	</ul>
      </div><!-- /cage -->
    {% endfor %}	
    <div class="cage">
      <h3>Trash</h3>
      <ul id="trash" class="droptrue"></ul>
    </div><!-- /cage -->
  {% else %}
    <p>No cages available</p>
  {% endif %}
  {% if mice %}
    {% for m in mice %}
	<a id="mouse-{{m.id}}" class="detaillink" href="#panel">&nbsp;</a>
    {% endfor %}
  {% endif %}
</div><!-- /wrapper main -->
<!-- define modal windows -->
<div id="panel" style="display:none;">
  <div class="card front">
    <a class="modal-close">&nbsp;</a>
    <h4>Mouse Name Here</h4>
    <p><span>Genotype:</span>Foob</p>
    <p><span>Birthdate:</span> 5/1/05</p>
    <a class="flipControl">Edit</a>
  </div><!-- /front -->
  <div class="card back">
    <a class="modal-close">&nbsp;</a>
    <h4>Change Mouse Details</h4>
    <form action="#" id="mouseEdit">
      <p><label>Name</label><input type="text" /></p>
      <p><label>Birthday</label><input type="text" /></p>
      <p class="clear"><a class="flipControl" id="change-mouse-detail">Save</a></p>
    </form>
  </div><!-- /back -->
</div><!-- /panel -->

<div id="mouseAdd" style="display:none;">
  <div class="card back">
    <a class="modal-close">&nbsp;</a>
    <h4>Change Mouse Details</h4>
    <form action="#" id="mouseEdit">
      <p><label>Name</label><input type="text" /></p>
      <p><label>Birthday</label><input type="text" /></p>
      <p class="clear"><a class="flipControl" id="change-mouse-detail">Save</a></p>
    </form>
  </div><!-- /back -->
</div><!-- /panel -->

<div id="cageAdd" style="display:none;">
  <div class="card back">
    <a class="modal-close">&nbsp;</a>
    <h4>Add A Cage</h4>
    <form action="#" id="mouseEdit">
      <p><label>Name</label><input type="text" /></p>
      <p class="clear"><a class="flipControl" id="change-mouse-detail">Save</a></p>
    </form>
  </div><!-- /back -->
</div><!-- /panel -->

<!-- /modal windows -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<script type="text/javascript" src="static/scripts/jquery.min.js"></script>
<script type="text/javascript" src="static/scripts/scripts.js"></script>
<script type="text/javascript">
	// DOCUMENT READY
		$(document).ready(function() {
			
			
	    
			detailLinkPos();
  		/*	var draggedId;
			var newCageId;
			var counter = 0;
			$(".draggable").draggable({
				connectToSortable:"ul.droptrue",
				helper:"clone",
				revert:"invalid"
			});
			
			
			$("ul.droptrue").sortable({
				connectWith: "ul.droptrue",
				placeholder: 'ui-state-highlight',
				start: function(event ,ui){
					draggedId = ui.item.context.classList[0];
					var draggedIdHolder = draggedId.split("-");
					draggedId = draggedIdHolder[1];
					$(".detaillink").fadeOut("fast");
				},
				deactivate: function(event, ui){
				 	detailLinkPos();// RECALCULATE LINK POSITIONS AFTER A MOVE.
				},
				update: function(event, ui){
				  counter++;
				  if (counter == 2){
				    var droppedId = $(this).attr('id');
				    var rawCageId = $(this).parents('div').attr('id');
				    var cageidholder = rawCageId.split("-");
				    newCageId = cageidholder[1];
				    postMove(draggedId, newCageId);
				    counter = 0;
				  }
				}
			});	

		/*	function postMove(draggedId, newCageid){
			    if(newCageid != 'trash'){
			      urlBuild = 'rest/mouse/put?';
			      urlBuild += 'id=' + draggedId;
			      urlBuild += '&cageId=' + newCageid;
			    }
			    else {
			      urlBuild = 'rest/mouse/delete';
			      urlBuild += 'id=' + draggedId;
			    }
			   $.ajax({
			     url: urlBuild,
			     success: function(data){
			       console.log(data);
			     }
			  });// end ajax
			}//postMove */
		});
	

	// SET UP MODALS
		$(".detaillink").leanModal({ 
			top : 50, 
			overlay : 0.7, 
			closeButton: ".modal-close" 
			});
			
		$("#addMouseBtn").leanModal({ 
			top : 50, 
			overlay : 0.7, 
			closeButton: ".modal-close" 
			});
			
		$("#addCageBtn").leanModal({ 
			top : 50, 
			overlay : 0.7, 
			closeButton: ".modal-close" 
			});
	
	
	
	// SET UP CARD FLIPS		
		$(".front .flipControl").live('click' , function(){
			$("#panel").addClass('flip');
		});
		
		$(".back .flipControl").live('click' , function(){
			$("#panel").removeClass('flip');
		}); 
		
	
	// POSITION EDIT LINKS
		function detailLinkPos(){
		$("ul.droptrue").each(function(){
			$(this).children("li").each(function(){
				var mouseID = $(this).attr("id");
				var offsetCords = $(this).offset();
				var topCords = offsetCords.top + 7;
				var leftCords = offsetCords.left + 84;
				$("#mouse-" + mouseID).offset({top:topCords, left:leftCords});
				$("#mouse-" + mouseID).fadeIn("fast");
			});
		});
		}

	// RETRIEVE INFO ABOUT MOUSE 
	$(".detaillink").click(function(){
	  var mouseToPullRaw = $(this).attr('id');
	  var mouseidArray = mouseToPullRaw.split('-');
	  var mouseId = mouseidArray[1];
      
	  $.ajax({
	    url: 'restAPI?action=retrieve',
	    success: function(data){
	      console.log(data);
	    }
	  });// end ajax
	});// end click function
	</script>
    </body>
</html>
