<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="http://fonts.googleapis.com/css?family=Gudea:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
  <header>
    <div class="header-content">
      <a href="/" class="button toDashboard">Dashboard</a>
      <h1>Table View</h1>
    </div><!--/header-content -->
  </header>
  <div class="wrapper main">
    <table id="sortTable"> 
      <thead>
	<tr>
	  <th>MLB #<span>&nbsp;</span></th>
	  <th>Gender<span>&nbsp;</span></th>
	  <th>Name<span>&nbsp;</span></th>
	  <th>Parents<span>&nbsp;</span></th>
	  <th>Genotype<span>&nbsp;</span></th>
	  <th>Genotype2<span>&nbsp;</span></th>
	  <th>Notes<span>&nbsp;</span></th>
	  <th>Cage<span>&nbsp;</span></th>
	</tr>
      </thead>
      <tbody>
	{% if mice %}
	  {% for mouse in mice %}
	    <tr class="mouse-{{mouse.id}}">
	      <td>{{mouse.mlb}}</td>
	      <td>{{mouse.gender}}</td>
	      <td>{{mouse.name}}</td>
	      <td>{{mouse.parents}}</td>
	      <td>{{mouse.genotype}}</td>
	      <td>{{mouse.genotypeTwo}}</td>
	      <td>{{mouse.notes}}</td>
	      <td>{{mouse.cage.cageName}}</td>
	    </tr>
	  {% endfor %}
	{% else %}
	  <tr><td>No Mice Available</td></tr>
	{% endif %}
      </tbody>
    </table>
  </div><!-- /wrapper-main -->
  <script type="text/javascript" src="static/scripts/jquery.js"></script>
  <script type="text/javascript" src="static/scripts/jquery.dataTables.min.js"></script>
  <script>
    $('document').ready(function(){
      $("#sortTable").dataTable();
    });
  </script>
</body>
</html>
